<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Order Management</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css'>
<link rel="stylesheet" href="./style.css">
</head>
<body>


<div class="container">

  <main id="app">
    <router-view></router-view>
  </main>
</div>

<template id="order-list">
  <div>
    <div class="actions">
      <router-link class="btn btn-default" v-bind:to="{path: '/add-order'}">
        <span class="glyphicon glyphicon-plus"></span>
        Add order
      </router-link>
    </div>
    <div class="filters row">
      <div class="form-group col-sm-3">
        <label for="search-element">Search</label>
        <input v-model="searchKey" placeholder="Enter a Search term" class="form-control" id="search-element" requred/>
      </div>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th>User</th>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>Date</th>
        <th class="col-sm-2">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="order in filteredorders">
        <td>
          {{ order.user }}
        </td>
        <td>{{ order.product }}</td>
        <td>
          {{ order.price }}
          <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
        </td>
        <td>{{ order.quantity }}</td>
        <td>{{ order.total }}
        <span class="glyphicon glyphicon-euro" aria-hidden="true"></span></td>
        <td>{{ order.date }}</td>

        <td>
          <!-- <router-link class="btn btn-warning btn-xs" v-bind:to="{path: '/order/:order_id/edit', user: 'order-edit', params: {order_id: order.id}, props: true}">Edit</router-link> -->
          <router-link class="btn btn-warning btn-xs" v-bind:to="{name: 'order-edit', params: {order_id: order.id}}">Edit</router-link>
        <button class="btn btn-danger btn-xs" @click="remove(order.id)" >Delete</button>
        </td>
      </tr>
      </tbody>
    </table>


  </div>
</template>

<template id="add-order">
  <div>
    <h2>Add new order</h2>
    <form v-on:submit="createorder">
      <div class="form-group">
        <label for="add-user">User</label>


      <select  class="form-control" v-model="order.user"  id="add-user" >
  <option v-for="user in users"     v-bind:value="user.name" >
    {{ user.name }}
  </option>
</select>
        
      </div>
      <div class="form-group">
        <label for="add-product">product</label>
            <select  class="form-control" v-model="order.product" id="add-user" >
  <option v-for="product in products" v-bind:value="product.name" >
    {{ product.name }}
  </option>
</select>     
      </div>
      <div class="form-group">
        <label for="add-quantity">Quantity </span></label>
        <input type="number" class="form-control" id="add-quantity" v-model="order.quantity"/>
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
      <router-link class="btn btn-default" v-bind:to="'/'">Cancel</router-link>
    </form>
  </div>
</template>

<template id="order">
  <div>
    <h2>{{ order.user }}</h2>
    <b>product: </b>
    <div>{{ order.product }}</div>
    <b>Price:</b>
    <div>{{ order.price }}<span class="glyphicon glyphicon-euro"></span></div>
    <br/>
    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
    <router-link v-bind:to="'/'">Back to order list</router-link>
  </div>
</template>

<template id="order-edit">
  <div>
    <h2>Edit order</h2>
    <form v-on:submit="updateorder">
      <div class="form-group">
        <label for="edit-user">user</label>
        <input class="form-control" id="edit-user" v-model="order.user" required/>
      </div>
      <div class="form-group">
        <label for="edit-product">product</label>
        <textarea class="form-control" id="edit-product" rows="3" v-model="order.product"></textarea>
      </div>
      <div class="form-group">
        <label for="edit-quantity">Quantity</span></label>
        <input type="number" class="form-control" id="edit-quantity" v-model="order.quantity"/>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
      <router-link class="btn btn-default" v-bind:to="'/'">Cancel</router-link>
    </form>
  </div>
</template>

<template id="order-delete">
  <div>
  <!--   <h2>Delete order {{ order.user }}</h2>
    <form v-on:submit="deleteorder">
      <p>The action cannot be undone.</p>
      <button type="submit" class="btn btn-danger">Delete</button>
      <router-link class="btn btn-default" v-bind:to="'/'">Cancel</router-link>
    </form> -->

  </div>
</template>

</body>
</html>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue-router/2.2.1/vue-router.js'></script>
<script  src="./script.js"></script>

</body>
</html>